</div>
</div>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{~/webjars/jquery/3.4.1/jquery.min.js}"></script>
<!--     <script th:src="@{/webjars/popper.js/1.14.3/popper.min.js}"></script>
 -->
<script th:src="@{webjars/bootstrap/4.4.1-1/js/bootstrap.js}"></script>

<!-- Icons -->
<script th:src="@{/webjars/feather-icons/4.24.1/dist/feather.min.js}"></script>
<script>
	feather.replace()
</script>


</body>

</html>